@model MovieShopApp.Models.Movie

<div class="container movie-in-detail">

    <h3>@Model.Title</h3>

    <div class="row">
        <div class="col-md-4 col-md-push-1">
            <img src="@Model.ImageUrl" alt="movie image" />
        </div>
        <div class="col-md-4 col-md-push-1">
            <p>
                @Model.Plot
            </p>
          <div name="rating">
              Rating: <b>@Model.Rating</b> <br />
          </div>
           <div name="price">
               Price: <b>$@Model.Price</b>
           </div>

            <br />
            <button class="btn btn-success btn-lg">ADD TO <span class="glyphicon glyphicon-shopping-cart" /></button>
        </div>
    </div>
</div>

